.img-login-nur{
    width:200px;
    margin-left:150px;
    margin-bottom:50px;
    margin-top:50px;
}
#GridView{
    margin-top: 40px;
    
}
#row_view{
    margin-bottom: 40px;
}
.lbTitulos{
    color:white;
    font-size:16px;
}
.txt_datos{
    margin-bottom:15px;
}